.head{
    background-color:#DDD;
    padding:10px;
    text-align:center;
}

.body{
    text-align:center;
}

.workthrough{
    background-color:lightgray;
    color:#333;
    margin:20px;
    padding:10px;
    corner-radius:10px;
    border:4px solid #777;
}