<!DOCTYPE HTML>
<head>
  <title>Example SymPy Equation solver</title>

  <link href="/static/css/index.css" rel="stylesheet">

  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <script type="text/javascript">
    window.MathJax = {tex: {inlineMath: [['$','$'], ['\\(','\\)']]}};
  </script>

</head>
<body>
<div class="head">
  <h1> SymPy-based Equation Solver</h1>
</div>

<div class="body">
  <form>
    <p>Enter an equation to solve:</p>
    <input name="sub" type="text"></input>
    <p>For example, "2x+1=3".</p>
    <input type="submit" value="Submit">
  </form>
  <div class="workthrough">
    {{workthrough}}
  </div>
</div>
</body>
